:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: rgba(255, 255, 255, 0.87);
    background-color: #000000;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

ul {
    list-style-type: none;
    display: grid;
    gap: 2rem;
    padding-inline-start: 0;
}
@media (min-width: 576px) {
    ul {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 768px) {
    ul {
        grid-template-columns: repeat(3, 1fr);
    }
}
