---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import type { Products } from "mock-types";
import { NewsletterForm } from "ui";
const response = await fetch("https://dummyjson.com/products");
const json = (await response.json()) as Products;
---

<Layout title="Astro">
    <main>
        <ul>
            {json.products.map((product) => <Card index={product.id} title={product.title} />)}
        </ul>
    </main>
    <footer>
        <NewsletterForm client:visible />
    </footer>
</Layout>

<style>
    ul {
        list-style-type: none;
        display: grid;
        gap: 2rem;
        padding-inline-start: 0;
    }
    @media (min-width: 576px) {
        ul {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @media (min-width: 768px) {
        ul {
            grid-template-columns: repeat(3, 1fr);
        }
    }
</style>
