#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

ul {
    list-style-type: none;
    display: grid;
    gap: 2rem;
    padding-inline-start: 0;
}
@media (min-width: 576px) {
    ul {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 768px) {
    ul {
        grid-template-columns: repeat(3, 1fr);
    }
}
