.product {
    list-style: none;
    display: flex;
    flex-direction: column;
    color: rgb(199, 197, 211);
    /* background-color: #001f3f; */
    /* border: 2px solid #0074d9; */
    border-radius: 0.5rem;
    /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1); */
}
.image {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
