.container {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin: 3rem auto;
}
.form {
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.input {
    padding: 1rem 2rem;
    border-radius: 2rem;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    border: 2px solid white;
}
.button {
    padding: 1rem 2rem;
    border-radius: 2rem;
    text-decoration: none;
    color: black;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid white;
    font-weight: bold;
}
.success {
    color: green;
    background-color: white;
    padding: 0.5rem;
    display: inline-block;
    border-radius: 0.5rem;
}
