.topnav {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin: 3rem 1rem;
}
.link {
    padding: 1rem 2rem;
    border-radius: 2rem;
    text-decoration: none;
    color: #001f3f;
    background-color: white;
}
