---
import type { Product } from "mock-types";

export interface Props {
    title: string;
    index: number;
}

const { index, title } = Astro.props;

const response = await fetch(`https://dummyjson.com/products/${index}`);
const product = (await response.json()) as Product;
---

<li>
    <img loading="lazy" src={`https://picsum.photos/id/${index}/300/150`} alt={title} />
    <h2>
        {title}
        <span>&rarr;</span>
    </h2>
    <p>{product.description}</p>
</li>
<style>
    li {
        list-style: none;
        display: flex;
        flex-direction: column;
        color: rgb(199, 197, 211);
        /* background-color: #001f3f; */
        /* border: 2px solid #0074d9; */
        border-radius: 0.5rem;
        /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1); */
    }
    img {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
</style>
